

/* header */

.header{
    font-size: 72px;
    text-align: center;
    font-weight: bold;
    font-family: var(--font-family-quote);
    border-color: black;
}

/* jumbotron */

.jumbotron{

    background-image: url("images/django_unchained.jpg");
    height: 720px; 

    /* parallax */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Code om spul aan onderkant te plaatsen */
    position: relative;
    padding-top: 260px;
}
.first-column{
    color: white;
    width: 100%;
    position: relative;
    padding-left: 0;
}

.main-elements{
    position: absolute;
    bottom: 0;
}

.maininfo {
    margin-top: 20px;
    background-color: rgba(0,0,0,0.5);
    padding: 45px;
    padding-bottom: 240px;
    color: white;
    border: 0;
}

.container-fluid{
    background-color: none;
    padding-top: 0px;
}

q{
    font-family: var(--font-family-quote);
    font-size: 22px;

    padding-bottom: 10px;
    text-align: right;
    margin-bottom: 18px;
}

h1{
    font-size: 100px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 100px;
    margin-top: 20px;
}

.first-line {
    width: 100%;
    border-bottom: 2px solid white;
    margin-bottom: 40px;
}

.mainquote {
    font-size: 32px;
    font-family: var(--font-family-quote);
}

/* body */

.card{
    background-color: rgba(0,0,0,0);
    border: 0px;
    padding: 30px; /*padding en niet margin omdat anders alles zal opschuiven naar links */
    padding-top: 45px;
    padding-bottom: 60px;
    
        /* code om cards even lang te maken hieronder */

    height: calc(100% - 10px);
    margin-bottom: 200px;
}

.cardrow {
    padding-bottom: 60px;
}

/* card colors */

.cardcol-1 {
    background-color: rgb(48 169 226);
}

.title-1 {
    color: rgb(48 169 226);
}

.cardcol-2 {
    background-color: rgb(255 207 133);
}

.title-2 {
    color: rgb(255 207 133);
}

.cardcol-3 {
    background-color: rgb(192 239 249);
}

.title-3 {
    color: rgb(192 239 249);
}

.cardcol-4 {
    background-color: rgb(217 220 191);
}

.title-4 {
    color: rgb(217 220 191);
}

/* end card colors */

.image-title{
    position: relative;
}

h2{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left: 12px;
}

.names {
    position: absolute;
    bottom: 40px;
    margin-right: 30px;
}

.line {
    width: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 40px;
}

button {
    font-size: 24px;
    float: right;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 60px;
}

.first-button {
    bottom: 25px;
    right: 25px;
}

.info{
    margin-top: 100px;
    margin-bottom: 100px;
}

img {
    object-fit: cover;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* footer */

.footer-row {
    background-color: white;
    border-style: solid none none none;
    border-width: 2px;
    border-color: black;
}

.footer-col {
    padding-top: 20px;
}

.footer {
    font-size: 24px;
    font-weight: bold;
    color: black; 
    margin-top: -5px;
    margin-left: 20px;
    font-family: var(--font-family-quote);
}

.logo-ah {
    width: 300px;
    margin-bottom: 20px;
    margin-right: 20px;
    float: right;
}